.header {
  background: $yellow2;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  white-space: nowrap;
  .sider-toggle {
    background-color: $yellow2;
    color: $dark;
    word-wrap: break-word;
    border-color: $yellow2;
    padding-right: 32px;
    height: 32px;
    width: 32px;
    svg {
      margin-right: -32px;
      height: 32px;
      width: 32px;
    }
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 25px;
    img {
      height: 50px;
      margin: 0 0 0 20px;
    }
  }
  .navbar {
    display: flex;
    align-items: center;

    .ant-menu {
      border-bottom: 0px;
      background: rgba(0, 0, 0, 0);
      .ant-menu-item-active,
      .ant-menu-item-selected {
        border-color: $yellow1;
      }
    }

    li {
      margin-left: 25px;
    }
  }
}
