.sider-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-layout-sider {
  background: $blue2;
  .ant-menu {
    background: $blue1;
    .ant-menu-item {
      background: $blue1;
      border-color: $blue1;
      h1 {
        color: $blue2;
      }
    }
  }
}
